/* Colors */
/** Primary **/
/** Neutral **/
@import url(https://fonts.googleapis.com/css?family=Outfit:100,200,300,regular,500,600,700,800,900);
.nft_card__container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0d192b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nft_card__container__card {
  background-color: #14253d;
  border-radius: 20px;
  color: white;
  display: -ms-grid;
  display: grid;
  height: 600px;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 3.5fr 0.5fr;
      grid-template-rows: 3.5fr 0.5fr;
  padding: 25px;
  width: 320px;
  row-gap: 5px;
}

.nft_card__container__card__header {
  display: -ms-grid;
  display: grid;
  gap: 10px 0px;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
}

.nft_card__container__card__header__image {
  padding-bottom: 10px;
}

.nft_card__container__card__header__image img {
  border-radius: 1em;
  height: 100%;
  width: 100%;
}

.nft_card__container__card__header__tittle {
  color: white;
  font-family: "Outfit", sans-serif;
  font-size: 25px;
  font-weight: 700;
}

.nft_card__container__card__header__description {
  color: #8bacda;
  font-family: "Outfit", sans-serif;
  font-size: 20px;
  font-weight: 300;
}

.nft_card__container__card__header__figures {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Outfit", sans-serif;
  font-size: 20px;
  font-weight: 300;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nft_card__container__card__header__figures--value {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #00fff7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  gap: 8px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.nft_card__container__card__header__figures--time {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #8bacda;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 15px;
  gap: 8px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.nft_card__container__card__footer {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #2f415b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Outfit", sans-serif;
  gap: 8px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.nft_card__container__card__footer img {
  border: 3px solid white;
  border-radius: 50%;
  width: 49px;
}

.nft_card__container__card__footer__text {
  color: #8bacda;
  font-size: 18px;
}

.nft_card__container__card__footer__text--name {
  color: white;
}
/*# sourceMappingURL=nft-card-styles.css.map */