/* Colors */
/** Primary **/

$soft-blue: hsl(215, 51%, 70%);
$cyan: hsl(178, 100%, 50%);

/** Neutral **/
$dark-blue-100: hsl(217, 54%, 11%);
$dark-blue-80: hsl(216, 50%, 16%);
$dark-blue-60: hsl(215, 32%, 27%);
$white: hsl(0, 0%, 100%);

@import url(https://fonts.googleapis.com/css?family=Outfit:100,200,300,regular,500,600,700,800,900);

.nft_card {
  &__container {
    align-items: center;
    background-color: $dark-blue-100;
    display: flex;
    height: 100vh;
    justify-content: center;
    &__card {
      background-color: $dark-blue-80;
      border-radius: 20px;
      color: white;
      display: grid;
      height: 600px;
      grid-template-columns: 1fr;
      grid-template-rows: 3.5fr 0.5fr;
      padding: 25px;
      width: 320px;
      row-gap: 5px;
      &__header {
        display: grid;
        gap: 10px 0px;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        &__image {
          img {
            border-radius: 1em;
            height: 100%;
            width: 100%;
          }
          padding-bottom: 10px;
        }
        &__tittle {
          color: $white;
          font-family: "Outfit", sans-serif;
          font-size: 25px;
          font-weight: 700;
        }
        &__description {
          color: $soft-blue;
          font-family: "Outfit", sans-serif;
          font-size: 20px;
          font-weight: 300;
        }
        &__figures {
          align-items: baseline;
          display: flex;
          font-family: "Outfit", sans-serif;
          font-size: 20px;
          font-weight: 300;
          justify-content: space-between;
          &--value {
            align-items: center;
            color: $cyan;
            display: flex;
            font-size: 18px;
            gap: 8px;
            justify-content: space-around;
          }
          &--time {
            align-items: center;
            color: $soft-blue;
            display: flex;
            font-size: 15px;
            gap: 8px;
            justify-content: space-around;
          }
        }
      }
      &__footer {
        align-items: center;
        border-top: 1px solid $dark-blue-60;
        display: flex;
        font-family: "Outfit", sans-serif;
        gap: 8px;
        justify-content: flex-start;
        img {
          border: 3px solid white;
          border-radius: 50%;
          width: 49px;
        }
        &__text {
          color: $soft-blue;
          font-size: 18px;
          &--name {
            color: $white;
          }
        }
      }
    }
  }
}
